<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="jumbotron site-header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src ="https://advantagefamily.com/wp-content/uploads/2018/06/financial-planner-blog-topics-1.png" class="img-fluid" alt="logo" width="200" height="200" >
        </div>
        <div class=" col-md ms-auto text-center">
          <h1>King Dra's Blog</h1>
        </div>
      </div>
    </div>
    </header>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
